{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}

{% block slider %}
{% endblock slider %}


{% block main %}








{#<body>#}
{##}
{##}
{#    <!-- /.nav -->#}
{##}
{#    <div class="wrapper">#}
{##}
{#        <!-- /.header -->#}
{##}
{##}
{##}
{#        <main class="main">#}
{#            <div class="registeration">#}
{#                <div class="container">#}
{#                    <div class="registeration__content">#}
{#                        <form class="registeration__form active">#}
{#                            <h2 class="registeration__title products__title">Регистрация</h2>#}
{#                            <div class="registeration__form-grid">#}
{##}
{#                                <div class="input__title">#}
{#                                    <h2>Имя</h2>#}
{#                                    <input type="text" class="contact__section-input">#}
{#                                </div>#}
{#                                <div class="input__title">#}
{#                                    <h2>Фамилия</h2>#}
{#                                    <input type="text" class="contact__section-input">#}
{#                                </div>#}
{#                                <div class="input__title">#}
{#                                    <h2>E-mail</h2>#}
{#                                    <input type="email" class="contact__section-input">#}
{#                                </div>#}
{##}
{#                                <div class="input__title">#}
{#                                    <h2>Номер телефона</h2>#}
{#                                    <input type="tel" class="contact__section-input">#}
{#                                </div>#}
{##}
{#                                <div class="input__title">#}
{#                                    <h2>Придумайте пароль</h2>#}
{#                                    <input type="password" class="contact__section-input">#}
{#                                </div>#}
{#                                <div class="input__title">#}
{#                                    <h2>Подтвердить пароль</h2>#}
{#                                    <input type="password" class="contact__section-input">#}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{#                            <div class="registeration__btns">#}
{##}
{#                                <button class="btn registeration__btn">Подтвердить</button>#}
{#                                <a href="#!" class="registeration__links">Уже есть аккаунт? </a>#}
{#                            </div>#}
{##}
{#                            <button class="btn registeration__btn-login _revers">Войти</button>#}
{##}
{#                        </form>#}
{##}
{#                        <form class="registeration__form">#}
{#                            <h2 class="registeration__title products__title">Авторизация</h2>#}
{#                            <div class="registeration__form-grid">#}
{##}
{#                                <div class="input__title">#}
{#                                    <h2>E-mail</h2>#}
{#                                    <input type="email" class="contact__section-input">#}
{#                                </div>#}
{##}
{##}
{#                                <div class="input__title">#}
{#                                    <h2> Пароль</h2>#}
{#                                    <input type="password" class="contact__section-input">#}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{#                            <button class="btn registeration__btn-login _auth">Войти</button>#}
{##}
{#                        </form>#}
{##}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </main>#}
{#        <!-- /.main -->#}
{##}
{##}
{#        <!-- /.footer -->#}
{#    </div>#}
{#    <!-- /.wrapper -->#}
{##}
{##}
{##}
{#    <!-- Js - скрипты -->#}
{#</body>#}







{% endblock main %}